  .body-fo {
      font-family: "Sofia";
      font-size: 22px;
  }
  
  .style-body-color {
      color: black;
  }
  
  .resize {
      width: 500px;
      height: auto;
  }
  
  .bean {
      /* The image used */
      background-image: url("images/bean.jpg");
      background-position: center;
      background-repeat: no-repeat;
      height: auto;
  }
  
  .h1 {
      text-shadow: 20px 20px 9px rgb(235, 187, 187);
  }
  
  .ATM-Card {
      border-radius: 50%;
  }
  
  .footer {
      /* The image used */
      background-image: url("images/footer.jpg");
      background-position: center;
      background-repeat: no-repeat;
      padding: 10px;
  }
  
  .footer textarea.form-control {
      height: 215px;
  }
  
  .button {
      vertical-align: top;
  }
  
  .fab-facebook {
      color: white;
      font-size: 50px;
      text-align: center;
      margin: 5px;
  }
  
  .fab-menu {
      font-size: 25px;
      text-align: center;
      margin: 5px;
  }